#project-photos .inside, #project-description .inside{
  margin: 0;
  padding: 0;
}
.project-photos {
  margin-top: 5px;
  padding: 0 12px 12px;
}

.project-photo {
  width: 100%;
  padding: 10px 0 10px 0;
  display: block;
  text-align: center;
  margin: 1px;
  background: #fafafa;
  border: 3px solid #E8E8E8;
  float: left;
}
.project-photo:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#no-photo {
  text-align: center;
}
.thumb {
  width: 15%;
  display: inline-block;
  padding-right: 1%;
}
.details {
  width: 80%;
  display: inline-block;
  vertical-align: top;
}
.buttons {
  width: 100%;
  text-align: right;
  margin: 3px 0 0 0;
}
.project-photo img{
  background: #fff;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
.project-photo label {
  font-size: 12px;
  width: 100%;
  display: block;
  text-align: left;
}
.project-photo input {
  font-size: 14px;
  width: 100%;
  display: block;
  margin-top: 2px;
}
.project-photo .caption{
  font-size: 14px;
  background: rgba(255,255,255, .95);
}
.project-photo h3{
  display: block
}

.project-main-photo {
  background: #2EA2CC;
  border: 3px solid rgb(0, 116, 162);
}

#sortable-container {
  display: block;
}

.as-sortable-item,
.as-sortable-placeholder {
  display: inline-block;
  float: left;
}
.as-sortable-placeholder {
  background: #333;
 }