.project-photos {
  margin-top: 10px;
  padding: 0 12px 12px
}
#project-photos .inside, #project-description .inside{
  margin: 0;
  padding: 0;
}

.project-photo {
  width: auto;
  width: 27%;
  padding: 10px 3% 10px 2%;
  display: inline-block;
  text-align: center;
  margin: 1px;
  background: #fafafa;
  border: 3px solid #E8E8E8;
}
#no-photo {
  text-align: center;
}

.project-photo img{
  background: #fff;
  display: block;
  border: 1px solid #ccc;
}
.project-photo button{
  width: 100%;
  display: block;
  margin: 5px 0 0 0 !important;
}
.project-photo input {
  font-size: 12px;
  width: 100%;
  display: block;
  margin-top: 2px;
}
.project-photo h3{
  display: block
}

.project-main-photo {
  background: #2EA2CC;
  border: 3px solid rgb(0, 116, 162);
}